" nnoremap 이 작동 안하는 듯?? noremap 만 됨.
" leader
let mapleader = ","
let maplocalleader = mapleader


" 설정 다시 읽기
noremap \vr :source ~/.ideavimrc<CR>

" tpope vim-surround emulation
" ysiw감싸기문자 : 감싸기, 여는 괄호는 공백 추가, 닫는 괄호는 공백없이
" cs"' : " 감싸기를 ' 감싸기로 교체
" cs'<q> : ' 감싸기를 <q>..</q>로 교체
" cst" : 태그 감싸기를 " 로 교체
" ds" : " 감싸기 삭제
set surround
" easy-motion https://github.com/AlexPl292/IdeaVim-EasyMotion
set easymotion

" tpope commentray.vim
set commentary
" https://github.com/terryma/vim-multiple-cursors
set multiple-cursors

set incsearch
set ignorecase
set clipboard=unnamed

" https://github.com/JetBrains/ideavim/wiki/%22ideajoin%22-examples
" J 명령으로 여러줄 Join 시에 단순 줄 합치기가 아니라 문맥에 따라 적합하게 작동한다.
set ideajoin

" 항상 커서를 중간으로 유지
noremap <leader>zz :set scrolloff=999<CR>
noremap <leader>!zz :set scrolloff=0<CR>
set scrolloff=999

vmap <C-c> "+yi
vmap <C-x> "+c
imap <C-v> <ESC>"+pa


" 노멀 모드에서 화살표 끄기. 하지 말 것. Rename Refactoring 시에 힘들어짐.
" noremap <Up> <NOP>
" noremap <Down> <NOP>
" noremap <Left> <NOP>
" noremap <Right> <NOP>

set clipboard+=ideaput

set encoding=utf8 " windows 에서 사용시 필수
set nocompatible
set smartcase

" 상대/절대 줄번호 조합
set relativenumber
set number

set fileformats=unix,dos
set fileencodings=utf8,cp949

" Insert Mode 단축키 추가
imap <S-Enter> <ESC>o
imap <C-S-Enter> <ESC>O
imap <C-j> <Down>
imap <C-k> <Up>
imap <C-h> <Left>
imap <C-l> <Right>

" Actions
map \r <Action>(ReformatCode)

" Actions - Refactoring
map <leader>rr <Action>(RenameElement)
map <leader>rc <Action>(ChangeSignature)
map <leader>ri <Action>(Inline)

" Actions - Find/Show/Navigation
map <leader>fu <Action>(FindUsages)
map <leader>th <Action>(TypeHierarchy)
map <leader>ch <Action>(CallHierarchy)
map <leader>nr <Action>(RecentFiles)
map <leader>ff <Action>(Find)

" Actions - goto
map <leader>gd <Action>(GoToDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gd <Action>(GotoDeclaration)

" Actions - String Manipulation
map <leader>sc <Action>(StringManipulation.Group.SwitchCase)
