[user]
    name = KwonNam Son
    email = kwon37xi@gmail.com

[init]
  defaultBranch = main

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.git_personal_projects

[includeIf "gitdir:~/.dotfiles-private/"]
    path = ~/.git_personal_projects

[includeIf "gitdir:~/projects_kwon37xi/"]
    path = ~/.git_personal_projects

[includeIf "gitdir:~/projects/observes/"]
    path = ~/.git_personal_projects

[includeIf "gitdir:~/projects/woowabros/"]
    path = ~/.git_woowabros_projects

[core]
    filemode = false
    pager = most
    excludesfile = ~/.gitignore-for-user

[pull]
    rebase = false

[credential]
    #helper = /usr/local/bin/git-credential-kwalletcli
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

# https://johngrib.github.io/wiki/git-alias/
[alias]
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an %ae>%Creset' --abbrev-commit --
    swf = "!git checkout $(git branch -vv | grep -v '^\\*' | fzf | awk '{print $1}')"
    af = "!git add $(git status -s | fzf -m | awk '{print $2}')"
    ci = commit
    co = checkout
    st = status
    unstage = reset HEAD --
    dt = difftool
    mt = mergetool

# http://blog.marcinchwedczuk.pl/use-meld-as-git-merge-diff-tool
[diff]
    tool = meld
    # tool = kdiff3
    # external = ~/.local/bin/git-diff-meld.sh

[difftool]
    prompt = false
    keepBackup = false
    trustExitCode = false

[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\"

[difftool "kdiff3"]
    cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = meld
    #tool = kdiff3

[mergetool "meld"]
    # 3 way 머지 중 가운데가 merged
    #cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # 3 way 머지 중 가운데가 BASE
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
    cmd = meld --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\" --label \"MERGE (REMOTE BASE MY)\"

[mergetool "kdiff3"]
    cmd = kdiff3 --qall --base \"$BASE\" \"$LOCAL\" \"$REMOTE\" --out \"$MERGED\"
