[Desktop Entry]
Name=Eclipse Memory Analyzer
Exec=env GTK_THEME=Yaru /home/kwon37xi/.local/opt/mat/MemoryAnalyzer
Comment=
Terminal=false
Icon=/home/kwon37xi/.dotfiles/_icons/eclipse-memory-analyzer.png
Type=Application
Categories=Development;
