[ClassicUI]
# 상태 패널 위치 X
#MainWindowOffsetX=500
# 상태 패널 위치 Y
#MainWindowOffsetY=40
# 글꼴 크기
#FontSize=0
# 글꼴
#Font=Sans
# 메뉴 글꼴
#MenuFont=Sans
# 표시할 글꼴 로케일
#FontLocale=zh_CN.UTF-8
# 시스템 트레이 아이콘 사용
# 가능한 값:
# True False
#UseTray=True
# 상태 패널 숨기기 모드
# 가능한 값:
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# 수직 후보 단어 목록
# 가능한 값:
# True False
#VerticalList=False
# 스킨 이름
#SkinType=default

