[Desktop Entry]
Name=Todoist
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=todoist --file-forwarding com.todoist.Todoist @@u %U @@
Terminal=false
Type=Application
Icon=com.todoist.Todoist
StartupWMClass=Todoist
MimeType=x-scheme-handler/todoist;x-scheme-handler/com.todoist;
Comment=The Best To-Do List App & Task Manager
Categories=Office;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.todoist.Todoist
X-GNOME-Autostart-Delay=10
