[Desktop Entry]
Name=Guake Terminal
Comment=Use the command line in a Quake-like terminal
TryExec=guake
Exec=guake
Icon=guake
Type=Application
StartupNotify=false
X-Desktop-File-Install-Version=0.22
X-GNOME-Autostart-Delay=5
