/* https://gist.github.com/rickybrent/83bad813a48bfab157148aa1b2bb0b38 */
/* Yaru-esque version of https://forum.vivaldi.net/topic/18677/solved-changing-the-button-on-linux-to-look-like-windows-10/5 */
#browser.linux .window-buttongroup {
    right: 0px !important;
    top: 0px !important;
}
#browser .window-buttongroup {
    height: 32px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
}

#browser .window-buttongroup button {
    height: 30px !important;
    width: 22px !important;
    margin-left: 2px !important;
 }
#browser.linux .window-buttongroup button.window-minimize svg path,
#browser.linux .window-buttongroup button.window-maximize svg path,
#browser.linux .window-buttongroup button.window-restore svg path,
#browser.linux .window-buttongroup button.window-close svg path {
    display: none;
}


#browser.linux .window-buttongroup button.window-close {
    /*width: 26px !important;*/
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cpath fill='%23b9b8b8' d='M7.22 6.21L11 9.99l3.781-3.78 1.01 1.01-3.78 3.78 3.78 3.781-1.01 1.01-3.78-3.78-3.781 3.78-1.01-1.01 3.78-3.78L6.21 7.22z' color='%23000'/%3E%3C/svg%3E");
}
#browser.linux.hasfocus .window-buttongroup button.window-close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074' color='%23000'%3E%3Cpath fill='%23dd4814' d='M10.994 1.006a10 10 0 00-10 10 10 10 0 0010 9.999 10 10 0 0010-10 10 10 0 00-10-10z'/%3E%3Cpath fill='%23fff' d='M7.214 6.215l3.78 3.78 3.781-3.78 1.01 1.01-3.78 3.78 3.78 3.781-1.01 1.01-3.78-3.78-3.78 3.78-1.01-1.01 3.78-3.78-3.78-3.781z'/%3E%3C/g%3E%3C/svg%3E");
}
#browser.linux .window-buttongroup button.window-close:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074' color='%23000'%3E%3Cpath fill='%23eb6637' d='M10.994 1.006a10 10 0 00-10 10 10 10 0 0010 9.999 10 10 0 0010-10 10 10 0 00-10-10z'/%3E%3Cpath fill='%23fff' d='M7.214 6.215l3.78 3.78 3.781-3.78 1.01 1.01-3.78 3.78 3.78 3.781-1.01 1.01-3.78-3.78-3.78 3.78-1.01-1.01 3.78-3.78-3.78-3.781z'/%3E%3C/g%3E%3C/svg%3E");
}


#browser.linux .window-buttongroup button.window-minimize {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cpath fill='%23b9b8b8' d='M6.202 12.776h9.58v1.428h-9.58z' paint-order='fill markers stroke'/%3E%3C/svg%3E");
}
#browser.linux.hasfocus .window-buttongroup button.window-minimize {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cpath fill='%23f7f7f7' d='M6.202 12.776h9.58v1.428h-9.58z' paint-order='fill markers stroke'/%3E%3C/svg%3E");
}
#browser.linux .window-buttongroup button.window-minimize:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074'%3E%3Cpath fill='%236c6767' d='M10.994 1.006a10 10 0 00-10 10 10 10 0 0010 9.999 10 10 0 0010-10 10 10 0 00-10-10z' color='%23000'/%3E%3Cpath fill='%23f7f7f7' d='M6.202 12.776h9.58v1.428h-9.58z' paint-order='fill markers stroke'/%3E%3C/g%3E%3C/svg%3E");
}


#browser.linux .window-buttongroup button.window-maximize {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg fill='%23b9b8b8' stroke-width='2.074' paint-order='fill markers stroke'%3E%3Cpath d='M6.194 14.377h9.6v1.428h-9.6zm0-8.172h9.6v1.428h-9.6z'/%3E%3Cpath d='M7.628 6.205v9.58H6.197v-9.58zm8.17 0v9.58h-1.431v-9.58z'/%3E%3C/g%3E%3C/svg%3E");
}
#browser.linux.hasfocus .window-buttongroup button.window-maximize {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg fill='%23f7f7f7' stroke-width='2.074' paint-order='fill markers stroke'%3E%3Cpath d='M6.194 14.377h9.6v1.428h-9.6zm0-8.172h9.6v1.428h-9.6z'/%3E%3Cpath d='M7.628 6.205v9.58H6.197v-9.58zm8.17 0v9.58h-1.431v-9.58z'/%3E%3C/g%3E%3C/svg%3E");
}
#browser.linux .window-buttongroup button.window-maximize:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074'%3E%3Cpath fill='%236c6767' d='M10.994 1.006a10 10 0 00-10 10 10 10 0 0010 9.999 10 10 0 0010-10 10 10 0 00-10-10z' color='%23000'/%3E%3Cg fill='%23f7f7f7' paint-order='fill markers stroke'%3E%3Cpath d='M6.194 14.377h9.6v1.428h-9.6zm0-8.172h9.6v1.428h-9.6z'/%3E%3Cpath d='M7.628 6.205v9.58H6.197v-9.58zm8.17 0v9.58h-1.431v-9.58z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#browser.linux.maximized .window-buttongroup button.window-maximize,
#browser.linux .window-buttongroup button.window-restore {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074' paint-order='fill markers stroke'%3E%3Cg fill='%23616161'%3E%3Cpath d='M9.077 6.205h6.716v1.428H9.077z'/%3E%3Cpath d='M15.799 6.218v6.684h-1.43V6.218z'/%3E%3C/g%3E%3Cg fill='%23b9b8b8'%3E%3Cpath d='M6.188 14.377h6.717v1.428H6.188z'/%3E%3Cpath d='M7.62 9.068v6.717H6.187V9.068z'/%3E%3Cpath d='M12.91 10.496H6.194V9.068h6.716z'/%3E%3Cpath d='M11.48 15.805V9.09h1.43v6.716z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#browser.linux.hasfocus.maximized .window-buttongroup button.window-maximize,
#browser.linux.hasfocus .window-buttongroup button.window-restore {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074' paint-order='fill markers stroke'%3E%3Cg fill='%23b9b8b8'%3E%3Cpath d='M9.077 6.205h6.716v1.428H9.077z'/%3E%3Cpath d='M15.799 6.218v6.684h-1.43V6.218z'/%3E%3C/g%3E%3Cg fill='%23f7f7f7'%3E%3Cpath d='M6.188 14.377h6.717v1.428H6.188z'/%3E%3Cpath d='M7.62 9.068v6.717H6.187V9.068z'/%3E%3Cpath d='M12.91 10.496H6.194V9.068h6.716z'/%3E%3Cpath d='M11.48 15.805V9.09h1.43v6.716z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#browser.linux.maximized .window-buttongroup button.window-maximize:hover,
#browser.linux .window-buttongroup button.window-restore:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cdefs/%3E%3Cg stroke-width='2.074'%3E%3Cpath fill='%236c6767' d='M10.994 1.006a10 10 0 00-10 10 10 10 0 0010 9.999 10 10 0 0010-10 10 10 0 00-10-10z' color='%23000'/%3E%3Cg fill='%23929292' paint-order='fill markers stroke'%3E%3Cpath d='M9.077 6.205h6.716v1.428H9.077z'/%3E%3Cpath d='M15.799 6.218v6.684h-1.43V6.218z'/%3E%3C/g%3E%3Cg fill='%23f7f7f7' paint-order='fill markers stroke'%3E%3Cpath d='M6.188 14.377h6.717v1.428H6.188z'/%3E%3Cpath d='M7.62 9.068v6.717H6.187V9.068z'/%3E%3Cpath d='M12.91 10.496H6.194V9.068h6.716z'/%3E%3Cpath d='M11.48 15.805V9.09h1.43v6.716z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


#browser.linux .window-buttongroup button {
    background-color: transparent !important;
    transition: all 0.2s ease;
    background-repeat:no-repeat !important;
    height: 18px !important;
    width: 18px !important;
    margin-left: 2px !important;
    margin: 3px 6px;
}
#browser.linux.tabs-top .window-buttongroup button {
    margin-top:6px
}

#browser.linux .window-buttongroup button:hover {
    background-color: transparent !important;
}

/* Pull Vivaldi icon over. Use the menu-style button. */
button.vivaldi {
    position: absolute;
    right: 82px;
    left: initial;
    display: flex !important;
    box-sizing: border-box;
}
button.vivaldi svg {
    width:20px;
    height:20px;
    margin-top:2px;
}
.linux #tabs-container.top {
    padding-right:120px;
}
